@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@import "tailwindcss";

 body {
  margin: 0;
   /* CHANGE THIS LINE based on your choice above:  */
  font-family: 'Manrope', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  
